*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  font-family: sans-serif;
}

button,
input {
  cursor: pointer;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #1c2c4c;
  color: #4c768d;
}

.home {
  background-color: #4c768d;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
  }

  .sidebar {
    flex: 1;
    background-color: rgb(31, 31, 89);

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #1c2c4c;
      height: 50px;
      padding: 10px;

      .user {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          border-radius: 50%;
          height: 95%;
          width: auto;
          object-fit: cover;
        }

        button {
          background-color: rgb(55, 30, 106);
          color: rgb(220, 196, 238);
          font-size: 10px;
          padding: 3px;
          border: none;
          cursor: pointer;

        }
      }

    }
    .search {
      border-bottom: 1px solid gray;
      .searchForm {
        padding: 10px;

        input {
          background-color: transparent;
          border: none;
          color: white;
          outline: none;

          &::placeholder {
            color: lightgray;
          }
        }
      }
    }

    .userChat {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #08152f;
      }

      img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .userChatInfo {
        span {
          font-size: 18px;
          font-weight: 500;
        }
        p {
          font-size: 14px;
          color: lightgray;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 150px; 
        }
      }
    }
  }

  .chat {
    flex: 2;

    .chatInfo {
      height: 50px;
      background-color: #063751;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      color: lightgrey;
    }

    .chatIcons {
      display: flex;
      gap: 15px;

      img {
        height: 1.3rem;
        cursor: pointer;
      }
    }

    .messages {
      background-color: rgb(144, 173, 228);
      padding: 10px;
      height: calc(100% - 110px); /* We want to take full height minus top (chatinfo 50px) and bottom (sendMessage 60px) */
      overflow: scroll; 

      .message {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        .messageInfo {
          display: flex;
          flex-direction: column;
          color: grey;
          font-weight: 300;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .messageContent {
          max-width: 80%;
          display: flex;
          flex-direction: column;
          gap: 10px;
      
          p {
            background-color: white;
            padding: 10px 20px;
            border-radius: 0 10px 10px 10px;
            display: table; /* Use table display to allow the text to wrap */
            width: 100%; /* Set width to 100% to fill the available space */
            word-break: break-all; /* Break words if necessary */
          }
        }
        &.owner { //If the message is written by the "owner" id the active user (optional class)
          flex-direction: row-reverse;

          p {
            background-color: rgb(162, 221, 236);
            border-radius: 10px 10px 0 10px;
          }
        }
      }
    }

    .sendMessage {
      bottom: 0px;
      width: 100%;
      padding: 10px 10px;
      background-color: #4c768d;
      display: flex;

      input {
        height: 40px;
        padding: 10px 10px;
        border-radius: 5px 0 0 5px;
        border: none;
        flex-grow: 1;
        background-color: white;
        color: #1c2c4c;
        font-size: 1rem;

        &::placeholder { color: #ddd; }

        &:is(input, button):focus {
          outline: none;
          border-bottom: 1px solid #7cc5d9;
        }
      }

      button {
        width: 70px;
        height: 40px;
        padding: 5px 10px;
        border-radius: 0 5px 5px 0;
        color: #242443;
        border: 1px solid #7cc5d9;
        background-color: #7cc5d9;
        font-weight: 600;
      }
    }
  }
}


/* welcome page */
.welcome {
  padding: 30px;
  text-align: center;
  margin-top: 40px;
  color: #7cc5d9;

  &:is(h2, p, img) {margin-bottom: 20px;}

  .sign-in {
    border: none;
    background-color: transparent;

    img {
      height: 30px;
      width: auto;
    }
  }
}


