/* UNIVERSAL STYLES */
:root {
  --background-color: linear-gradient(
    0deg,
    #01090e 0%,
    #052944 50%,
    rgba(0, 0, 0, 3) 80%
  );
  font-size: calc(15px + 0.390625vw);
  background: var(--background-color);
  color: var(--main-text-color);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* RESPONSIVE DESIGN */
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

/* VARIABLES */
$darkColor: hsl(219, 51%, 28%, 80%);
$mediumColor: hsl(220, 32%, 59%, 60%);
$lightColor: hsl(219, 69%, 75%, 30%);
$buttonColor: hsl(219, 51%, 28%);
$whiteTextColor: white;
$lightTextColor: lightgrey;
$titleFont: "Kanit", sans-serif;
$textFont: "Titillium Web", sans-serif;
$lightFont: "Alexandria", sans-serif;


/* BACKGROUND */
#video1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  filter: brightness(1) blur(8px);
}

html {
  background-color: $darkColor;
}
body {
  overflow: hidden;
  max-width: 100vw;
  font-size: 16px;
  font-family: sans-serif;
  font-family: $textFont;
  margin: 0;
}
button,
input {
  cursor: pointer;
}

/* Welcome Page */
.welcome {
  padding-top: 5%;
  text-align: center;
  color: $whiteTextColor;

  h1 {
    font-family: $titleFont;
  }

  p {
    font-size: 1rem;
  }

  .signIn {
    margin: 1rem;
    border: none;
    background-color: transparent;

    img {
      height: 2rem;
      width: auto;
    }
  }
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home Page */
.home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    border-radius: 10px;
    width: 70%;
    height: 100%;
    display: flex;
    overflow: hidden;

    @include tablet {
      width: 95%;
    }
    @include mobile {
      width: 100%;
    }
  }

  .sidebar {
    flex: 1;
    background-color: $mediumColor;
    @include mobile {
      flex: none;
      width: 90px;
    }

    /* NavBar */
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $darkColor;
      height: 50px;
      padding: 10px;

      .logo {
        @include tablet {
          display: none;
        }
      }

      .user {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 15px;

        span {
          color: $lightTextColor;
          font-size: 1rem;
        }

        img {
          border-radius: 50%;
          height: 95%;
          width: auto;
          object-fit: cover;
        }

        button {
          background-color: $lightColor;
          font-size: 0.8rem;
          padding: 0.3rem 0.5rem;
          border: none;
          cursor: pointer;
          border-radius: 5px;

          &:hover {
            background-color: $darkColor;
            color: $whiteTextColor;
          }

          @include mobile {
            position: absolute;
            bottom: 15px;
            left: 15px;
          }
        }
      }
    }
    .search {
      border-bottom: 1px solid rgba(128, 128, 128, 0.504);
      .searchForm {
        padding: 10px;

        input {
          background-color: transparent;
          border: none;
          color: $whiteTextColor;
          font-family: $lightFont;
          outline: none;

          &::placeholder {
            color: lightgray;
          }
        }
      }
    }
    /* User List */
    .userChat {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      color: $whiteTextColor;
      cursor: pointer;

      &:hover {
        background-color: $darkColor;
      }

      img {
        width: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
      }

      .userChatInfo {
        span {
          font-size: 0.9rem;
          font-weight: 500;
        }
        p {
          font-family: $lightFont;
          font-size: 0.7rem;
          color: $lightTextColor;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 150px;
        }
        @include mobile {
          display: none;
        }
      }
    }
  }

  .chat {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;

    .chatInfo {
      height: 50px;
      background-color: $darkColor;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      color: $lightTextColor;
    }

    .chatIcons {
      display: flex;
      gap: 15px;

      img {
        height: 1.3rem;
        cursor: pointer;
      }
    }

    .messages {
      background-color: $lightColor;
      padding: 10px;
      flex-grow: 1; /* We want to take full height minus top (chatinfo 50px) and bottom (sendMessage 60px) */
      overflow-y: scroll;

      .message {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        .messageInfo {
          display: flex;
          flex-direction: column;
          color: $lightTextColor;
          font-weight: 300;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .messageContent {
          max-width: 80%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          p {
            background-color: rgba(255, 255, 255, 0.501);
            padding: 10px 20px;
            border-radius: 0 10px 10px 10px;
            display: table; /* Use table display to allow the text to wrap */
            width: 100%; /* Set width to 100% to fill the available space */
            word-break: break-all; /* Break words if necessary */
          }
        }
        &.owner {
          //If the message is written by the "owner" id the active user (optional class)
          flex-direction: row-reverse;

          p {
            background-color: $mediumColor;
            border-radius: 10px 10px 0 10px;
          }
        }
      }
    }

    .sendMessage {
      width: 100%;
      padding: 10px 10px;
      background-color: $darkColor;
      display: flex;
      flex-shrink: 0;
      visibility: visible !important;
      z-index: 1;

      input {
        height: 40px;
        padding: 10px 10px;
        font-size: 0.8rem;
        border-radius: 5px 0 0 5px;
        border: none;
        flex-grow: 1;
        background-color: white;
        outline: none;

        &::placeholder {
          color: #ddd;
        }
      }

      button {
        width: 70px;
        height: 40px;
        padding: 5px 10px;
        border-radius: 0 5px 5px 0;
        color: var(--light-text-color);
        border: none;
        background-color: $mediumColor;
        font-weight: 500;
        font-size: 0.8rem;
      }
    }
  }
}
